@model Web_Lab1_Cats.Species

@{
    ViewData["Title"] = "Додати";
}

<h1 style="font-family: 'Segoe Print'; margin-left: 12%">Додати</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wool" class="control-label"></label>
                <input asp-for="Wool" class="form-control" />
                <span asp-validation-for="Wool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lifetime" class="control-label"></label>
                <input asp-for="Lifetime" class="form-control" />
                <span asp-validation-for="Lifetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-light" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="words">Список всіх порід</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
