@model Web_Lab1_Cats.Species

@{
    ViewData["Title"] = "Деталі";
}
    <h1 style="font-family: 'Segoe Print'; margin-left: 12%">Котики породи @ViewBag.speciesName </h1>

<table class="table">
    <tbody>

        @foreach (var cas in ViewData["catsName"] as List<Cats>)
        {
            <tr>
                <td style="height:350px; border: none">
                    <div class="fom2">
                        <img src="~/img/@Html.DisplayFor(modelItem => cas.Photo)" class="img1" />
                        <br /><br />
                        <a class="text1">
                            @Html.ActionLink(@cas.Name, "Details", "Cats", new { id = cas.Id, name = cas.Name })
                            <a></a>
                        </a><br />
                        
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>
<div>
    @*<a asp-action="Редагувати" asp-route-id="@Model.Id" class="words">Редагувати</a>*@ 
    <a asp-action="Index" class="words">Список всіх порід</a>
</div>
<a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" style="font-size: 30px; background-color: rgba(0, 0, 0, 0.00)" role="button"><i class="fas fa-chevron-up"></i>&uArr;</a>