@{
    ViewData["Title"] = "Home Page";
}
<h1 class=" fraza ">


    Кішки - вінець творіння, апогей спритності і феєрія чарівності. Немає

    створіння граціознішого, витонченішого та ідеальнішого.



</h1>

<h2 class=" fraza " style=" font-style: italic">    Шельма</h2>

<p>
    Переглянути наявних котів тепер можна і в Telegram

    за посиланням <a href="https://t.me/YoursCatsBot" > t.me/YoursCatsBot </a>, 
    або за ніком @@YoursCatsBot
</p>


@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
