@model IEnumerable<Web_Lab1_Cats.Cats>

@{
    ViewData["Title"] = " Котики";
}

<h1 style="font-family: 'Segoe Print'; margin-left: 12%">Котики</h1>

<p>
    <a asp-action="Create" style="margin-left: 12%" class="words">Додати нового котика</a>
</p>
<table class="table">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="height: 40%; border: none">
                    <div class="fom2">
                        <img src="~/img/@Html.DisplayFor(modelItem => item.Photo)" class="img1" />
                        <br /><br />
                        <a class="text1">
                            @Html.ActionLink(@item.Name, "Details", "Cats", new { id = item.Id, name = item.Name })
                            <a></a>
                        </a><br />
                    </div>
                </td>
            </tr>
        }
    </tbody>
    
</table>
<a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" style="font-size: 30px; background-color: rgba(0, 0, 0, 0.00)" role="button"><i class="fas fa-chevron-up"></i>&uArr;</a>